@model Apartment

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4 text-center">Izmeni podatke o sobi</h1>
            <form method="post" asp-action="UpdateApartmentInfo" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="ApartmentName" class="form-label">Naziv apartmana</label>
                    <input type="text" class="form-control" id="ApartmentName" name="ApartmentName" value="@Model.ApartmentName" />
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Adresa</label>
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
                </div>
                <div class="mb-3">
                    <label for="ApartmentDescription" class="form-label">Opis</label>
                    <textarea class="form-control" id="ApartmentDescription" rows="4" name="ApartmentDescription">@Model.ApartmentDescription</textarea>
                </div>
                <div class="mb-3">
                    <label for="Location" class="form-label">Lokacija apartmana</label>
                    <input type="text" class="form-control" id="Location" name="Location" value="@Model.Location" />
                </div>
                @if(Model.ImagePaths != null){

                        <div class="mb-3">
                            <label for="ExistingImages" class="form-label">Fotografije</label>
                            @foreach (var images in Model.ImagePaths)
                            {
                                <div class="image-container" data-image-path="@images">
                                    <img src="@images" alt="@images" width="100%" height="100%"/>
                                    <button type="button" class="btn btn-danger" onclick="deleteImage('@Model.Id','@images')">Obrisi</button>
                                 </div>
                                 <br />
                            }
                        </div>
                     }
                <div class="mb-3">
                    <label for="ImagePaths" class="form-label">Dodajte fotografije</label>
                    <input type="file" class="form-control" id="ImagePaths" name="ImagePaths" accept="image/png, image/jpeg" multiple />
                </div>
                <div class="mb-3">
                    <label for="City" class="form-label">Grad</label>
                    <input type="text" class="form-control" id="City" name="City" value="@Model.City" />
                </div>
                <div class="mb-3">
                    <label for="Country" class="form-label">Država</label>
                    <input type="text" class="form-control" id="Country" name="Country" value="@Model.Country" />
                </div>
                <div class="mb-3">
                    <label for="MinimumStay" class="form-label">Minimalan broj dana boravka</label>
                    <input type="number" class="form-control" id="MinimumStay" name="MinimumStay" value="@Model.MinimumStay" />
                </div>
                <div class="mb-3">
                    <label for="NumOfBeds" class="form-label">Broj kreveta</label>
                    <input type="number" class="form-control" id="NumOfBeds" name="NumOfBeds" value="@Model.NumOfBeds" />
                </div>
                <div class="mb-3">
                    <label for="PricePerNight" class="form-label">Cena apartmana za noć</label>
                    <input type="text" class="form-control" id="PricePerNight" name="PricePerNight" value="@Model.PricePerNight" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Izmeni</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteImage(Id, imagePath) {
        if (confirm('Are you sure you want to remove this image?')) {
            $.ajax({
                url: '/Apartments/DeletePhoto',
                type: 'POST',
                data: {
                    id: Id,
                    imagePath: imagePath
                },
                success: function (result) {
                    if (result.success) {
                        // Uklanjanje slike sa UI-a
                        $('.image-container[data-image-path="' + imagePath + '"]').remove();
                    } else {
                        alert('Failed to remove image.');
                    }
                }
            });
        }
    }
</script>