@model List<Apartment>
@{
    ViewData["Title"] = "Apartments page";
}

<div class="container">
    <h1 class="text-center pt-2">Dostupni apartmani u našem hotelu</h1>

    <div class="link-container">
        <a id="unesiApartman" asp-route="insertApartmentForm">Unesi novi apartman</a>
    </div>

    <div class="container-flex">
        <div class="row">
            @foreach (var app in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            @if (app.ImagePaths != null && app.ImagePaths.Count > 0)
                            {
                                <img src="@app.ImagePaths[0]" class="card-img-top" alt="Apartment Image">
                            }
                            <h5 class="card-title pt-2">@app.ApartmentName</h5>
                            <p class="card-text">@app.Address</p>
                            <p class="card-text">@app.ApartmentDescription</p>
                            <p class="card-text">@app.City, @app.Country</p>
                            <p class="card-text">Broj kreveta: @app.NumOfBeds</p>
                            <p class="card-text fw-bold" id="Cena">Cena noćenja: @app.PricePerNight</p>
                            <a href="@Url.Action("OneApartment", "Apartments", new { id = app.Id })" class="btn btn-info-custom">Info</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    

    <div class="container-flex" id="APIHotels">
        <h1 class="text-center pt-2 pb-2" id="APIHotelsNaslov">Ponude iz drugih hotela</h1>
        <div class="row">

        </div>
    </div>

</div>
