@model List<Apartment>
@{
    ViewData["Title"] = "Apartments page";
}

<div class="container">
    <h1 class="text-center pt-2">Dostupni apartmani u našem hotelu</h1>

    <div class="link-container">
        <a id="unesiApartman" asp-route="insertApartmentForm">Unesi novi apartman</a>
    </div>

    <div class="container-flex">
        <div class="row">
            @for (int i = 0; i < Model.Count; i += 2)
            {
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            @if (Model[i].ImagePaths != null && Model[i].ImagePaths.Count > 0)
                            {
                                <img src="@Model[i].ImagePaths[0]" class="card-img-top" alt="Apartment Image" style="width: 590px; height: 400px;">
                            }
                            <h5 class="card-title">@Model[i].ApartmentName</h5>
                            <p class="card-text">@Model[i].Address</p>
                            <p class="card-text">@Model[i].ApartmentDescription</p>
                            <p class="card-text">@Model[i].City, @Model[i].Country</p>
                            <p class="card-text">Cena noćenja: @Model[i].PricePerNight</p>
                            <a href="@Url.Action("OneApartment", "Apartments", new { id = Model[i].Id })" class="btn btn-info-custom">Info</a>
                        </div>
                    </div>
                </div>
                @if (i + 1 < Model.Count)
                {
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                @if (Model[i].ImagePaths != null && Model[i].ImagePaths.Count > 0)
                                {
                                    <img src="@Model[i + 1].ImagePaths[0]" class="card-img-top" alt="Apartment Image" style="width: 590px; height: 400px;">
                                }
                                <h5 class="card-title">@Model[i + 1].ApartmentName</h5>
                                <p class="card-text">@Model[i + 1].Address</p>
                                <p class="card-text">@Model[i + 1].ApartmentDescription</p>
                                <p class="card-text">@Model[i + 1].City, @Model[i + 1].Country</p>
                                <p class="card-text">Cena noćenja: @Model[i + 1].PricePerNight</p>
                                <a href="@Url.Action("OneApartment", "Apartments", new { id = Model[i + 1].Id })" class="btn btn-info-custom">Info</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    

    <div class="container-flex" id="APIHotels">
        <h1 class="text-center pt-2 pb-2" id="APIHotelsNaslov">Ponude iz drugih hotela</h1>
        <div class="row">

        </div>
    </div>

</div>
